/*================================
            SCREEN SIZE
================================*/

//          How to use
//    @media #{$phoneMQ}{...}
//    @media #{$tabletMQ}{...}
//    @media #{$desktopMQ}{...}

/* Small devices (portrait tablets and large phones) -> @media only screen and (max-width: 600px) {...} */
$phoneMQ: "only screen and (max-width: 600px)";

/* Medium devices (landscape tablets, 601px and 991px) -> @media only screen and (max-width: 991px) {...}*/
$tabletMQ: "only screen and (max-width: 991px)";

/* Large devices (large-tablet/laptops/desktops, 992px and up) -> @media only screen and (min-width: 992px) {...}*/
$desktopMQ: "only screen and (min-width: 992px)";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   font-family: 'Poppins', sans-serif;
}

$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary: #23232e;
$bg-secondary: #141418;
$transition-speed: 600ms;
$pink: #df49a6;
$purple: #6649b8;