.custom-layout {
   box-sizing: border-box;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding-left: 6rem;
   padding-right: 0px;
   margin-bottom: 3.2rem;
   max-width: 1199px;
   min-height: 90vh;

   @media #{$tabletMQ} {
      margin-left: auto;
      margin-right: auto;
      padding-left: 16px;
      padding-right: 16px;
      min-height: 80vh;
   }
}

.isr--footer {
   margin-left: 6rem;
   text-align: center;

   @media #{$tabletMQ} {
      margin-bottom: 6rem;
      margin-left: 0;
   }
}

.home-container {
   text-align: center;
}

.avatar,
.loader {
   height: 16rem;
   width: 16rem;
   object-fit: cover;
   border-radius: 32rem;
   border: 0.25rem solid #6649b8;
}

.avatar-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.page-header {
   height: 300px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   margin-top: 32px;

   >div {
      text-align: center;

      >h1 {
         font-size: 42px;
         margin: 0;
         color: #fff;
      }
   }

}

.banner {
   object-fit: cover;
   height: 300px;
   width: 100%;
   opacity: 0.5;
   border-radius: 0.25rem;
}

.card {
   background: #23232e;
   border-radius: 0.25rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   transition: 400ms;
   height: 480px;
   margin-top: 16px;
   display: flex;
   flex-direction: column;
   padding-bottom: 12px;

   &:hover {
      transform: translateY(-4px);
      box-shadow: none;
   }
}

.card-image {
   width: 100%;
   object-fit: cover;
   height: 220px;
   border-radius: 0.25rem;

   &-wrapper {
      width: 100%;
      height: 220px;
      border-radius: 0.25rem;
   }
}

.card-body {
   padding-left: 16px;
   padding-right: 16px;
   margin-top: 18px;
   height: 220px;
   overflow: hidden;

   >h1 {
      margin: 0;
      font-size: 22px;
      color: #fff;
   }
}

.card-footer {
   box-sizing: border-box;
   padding-left: 16px;
   height: 48px;
   padding-right: 16px;
   margin-top: auto;
   align-self: flex-end;
   display: flex;
}

.btn-card-link {
   border: none;
   background: $pink;
   cursor: pointer;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   height: 40px;
   width: 40px;
   border-radius: 0.2rem;
   margin-left: 8px;
   color: black;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;

   &:hover {
      color: black;
      opacity: 0.8;
      transform: translateY(-4px);
   }

   >.card-link-icon {
      height: 18px;
      width: 18px;
      align-self: center;
   }
}

.tags {
   font-size: 12px;
   margin-left: 8px;
   padding: 2px 8px;
   border-radius: 4px;
   color: black;

   &.tags-js {
      background: yellow;
   }

   &.tags-rn {
      background: #6649b8;
      color: white;
   }
}

.mini-header-card {
   font-size: 14px;
}

.post-wrapper {
   margin-left: auto;
   margin-right: auto;
   padding-left: 0px;
   padding-right: 0px;
   max-width: 900px;
   text-align: justify;
}

blockquote {
   background: $bg-primary;
   border-left: 10px solid #ccc;
   margin: 1.5em 10px;
   padding: 0.5em 10px;
   quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
   color: #ccc;
   content: open-quote;
   font-size: 4em;
   line-height: 0.1em;
   margin-right: 0.25em;
   vertical-align: -0.4em;
}

blockquote p {
   display: inline;
   font-style: italic;
}

