:root {
   font-family: "Poppins", sans-serif;
}

:active {
   outline: none !important;
}

:focus {
   outline: none !important;
}

input:active {
   outline: none !important;
}

body::-webkit-scrollbar {
   width: 0.35rem;
}

body::-webkit-scrollbar-track {
   background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
   background: #6649b8;
   border-radius: 100px;
}

hr {
   border: 2px dashed #23232e !important;
}

.main-logo {
   font-family: "Fugaz One", cursive;
}

#nprogress {
   .bar {
      background: #f92672 !important;
   }

   .spinner-icon {
      border-top-color: #f92672 !important;
      border-left-color: #f92672 !important;
   }
}

.post-card {
   min-height: 380px;
   height: 100%;
   box-shadow: 20px 20px 0px #0e3432;
   transition: 300ms cubic-bezier(0.23, 1, 0.32, 1);

   &:hover {
      box-shadow: none;
      transform: translate(20px, 20px);
   }

   &--tag {
      box-shadow: 5px 5px 0px #fed715;
   }
}

.article-button {
   box-shadow: 8px 8px 0px #0e3432;
   transition: 300ms cubic-bezier(0.23, 1, 0.32, 1);

   &:hover {
      box-shadow: none;
      transform: translate(8px, 8px);
   }
}

.twitter-tweet-rendered {
   margin-left: auto !important;
   margin-right: auto !important;
}

pre code,
pre code span {
   font: 600 11pt Dank Mono, Fira Code, JetBrains Mono, Consolas, monospace;
}

.post-wrapper {
   code:not(.hljs) {
      font: 600 11pt Dank Mono, Fira Code, JetBrains Mono, Consolas, monospace;
      color: #f92672;
      padding: 0.15rem 0.5rem;
      border-radius: 0.25rem;
   }

   code.hljs {
      margin-bottom: 1rem;
      padding: 1rem 2rem;
      box-shadow: 6px 6px 0px #f92672;
      background-color: #2d3748;
   }
}

.header-link {
   &:hover {
      text-shadow: 2px 2px 0px #fed715;
   }

   &-active {
      text-shadow: 4px 4px 0px #fed715;
   }
}

.title-front {
   bottom: 1px;
   color: #fe0879;
   text-shadow: 7px 7px 0px #fed715;
}

.section-one {
   min-height: 800px;
   @extend .bg-dots;
}

.bg-dots {
   background-image: radial-gradient(#fe0879 1px, transparent 0), radial-gradient(#fe0879 1px, transparent 0);
   background-position: 0 0, 25px 25px;
   background-size: 50px 50px;
}

.header-menu {
   text-shadow: 3px 3px 0px #fed715;
}

.card-content-body {
   img:first-child {
      display: none;
   }

   .separator {
      display: none !important;
   }
}
