:root {
   font-family: "Poppins", sans-serif;
}

:active {
   outline: none !important;
}

input:active {
   outline: none !important;
}

body::-webkit-scrollbar {
   width: 0.25rem;
}

body::-webkit-scrollbar-track {
   background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
   background: #6649b8;
}

hr {
   border: 2px dashed #23232e !important;
}

a {
   @apply text-pink-500;
}

.main-logo {
   font-family: "Fugaz One", cursive;
}
